<form method="POST">
    <div class="form-group">
        <label>Attendees</label>
        <input class="form-control" name="ev-attendees" type="text" value="{{ findEvent.attendees }}">
    </div>
    <input class="btn btn-primary mr-2" type="submit" value="Find" />
    <a class="btn btn-secondary" href="/calendar">Cancel</a>
</form>
<script>
    console.log({{events}})
</script>

